node_modules
.next
dist
.env
*.env*
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.turbo
.lockb
*.log
*.tsbuildinfo
apps/api/local_cache
apps/api/src/generated
.cache
**/.xenova-cache
uploads
.git
.github
README.md
cognita.md
docker-compose.yml
playwright-test.mjs
